@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --grey-200  : #E5E7EB;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color-scheme: initial !important;
  ul,
  ol {
    margin-inline-start: 1rem;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}

fieldset {
  border: 1px solid var(--grey-200);
  border-radius: 0.5rem;
}

fieldset legend {
  /* font-size: 1.5rem;
  margin-bottom: 1rem;
font-weight: bold; */
}